<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">{{getTitle()}}</a>
    <!-- Form -->
    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input (input)="searchProfiles($event)" matInput [matAutocomplete]="auto" class="form-control" placeholder="Search profile" type="text" (focus)="focus = true"
          (blur)="focus = false">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="goToProfile(option.id)" *ngFor="let option of options" [value]="option.firstName+' '+ option.lastName">
              <img width="30" style="border-radius: 50%;" height="30" [src]="option.image">
              {{option?.firstName}} {{option?.lastName}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </form>

    <!--notification
    <div style="display :flex ;flex-direction: row-reverse">
      <div class="notification-icon" (click)="showNotifications()">
        <i class="fas fa-bell"></i>
        <span class="notification-count" *ngIf="alerts.length > 0 && user?.alert_ids === null ">{{this.alerts.length}}</span>

        <span class="notification-count" *ngIf="user?.alert_ids?.length> 0 && this.alerts.length !== user?.alert_ids?.length ">{{this.alerts.length - user?.alert_ids?.length}}</span>
      </div>
      <div class="notifications-panel" *ngIf="showNotificationsPanel">
        <div class="notifications-header">You have {{alerts?.length}} notifications</div>

        <div *ngFor="let notification of viewAll ? alerts: alerts?.slice(0,4)" (click)="markAsRead(notification)" class="notification-item">
          <div class="notification-avatar"><img [src]="this.getStatus(notification)" alt=""></div>
          <div class="notification-details">
            <div class="notification-title">{{notification.message}}
              <span *ngIf="!user?.alert_ids?.includes(notification.id) " style="float: right;" class="dot" ></span>
            </div>
            <div class="notification-date">{{notification.dateAlerte | date: 'MMM d, y'}}</div>
          </div>
        </div>
        <div  class="see-more-notifications" style="padding: 5px">
          <button (click)="showAllNotifications()" class="btn btn-outline-info" style="width: 100%;">See More Alerts</button>
        </div>
        <div *ngIf="alerts?.length == 0" class="no-notifications">No notifications</div>
      </div>

    </div>

    -->
    <div style="display :flex ;flex-direction: row-reverse">
      <div class="notification-icon" (click)="showNotifications()">
        <i class="fas fa-bell"></i>
        <span class="notification-count" *ngIf="this.alerts?.length !== user?.alert_ids?.length && this.user?.alert_ids !== null">{{this.alerts?.length - user?.alert_ids?.length}}</span>
        <span class="notification-count" *ngIf="this.alerts?.length !== 0 && this.user?.alert_ids === null">{{this.alerts?.length}}</span>
      </div>
      <div style="padding-right: 15px;"></div>
      <div class="notification-icon" (click)="showMessages()">
        <i class="fas fa-envelope fa-2xs"></i>
        <span class="notification-count" style="background-color:#ff00f0" *ngIf="this.messages?.length !== user?.message_ids?.length && this.user?.message_ids !== null">{{this.messages?.length - user?.message_ids?.length}}</span>
        <span class="notification-count"style="background-color:#ff00f0" *ngIf="this.messages?.length !== 0 && this.user?.message_ids === null">{{this.messages?.length}}</span>
      </div>

     
       <!--
         <div style="padding-right: 15px;" class="notification-icon">
        <i class="fas fa-user-plus fa-2xs"></i>
<span class="notification-count" style="background-color:#ff00f0" *ngIf="this.messages?.length !== user?.message_ids?.length && this.user?.message_ids !== null">{{this.messages?.length - user?.message_ids?.length}}</span>
        <span class="notification-count"style="background-color:#ff00f0" *ngIf="this.messages?.length !== 0 && this.user?.message_ids === null">{{this.messages?.length}}</span>
      </div>
      
       --> 

      <div class="notifications-panel" *ngIf="showNotificationsPanel">
        <div class="notifications-header">You have {{alerts?.length}} notifications</div>
        <div class="search-container" style="padding: 5px">
          <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input  type="text" [(ngModel)]="searchText" (input)="filterNotifications()" placeholder="Search notifications..." class="search_input">
                <a  class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let notification of viewAll ? filteredAlerts: filteredAlerts?.slice(0,4)" (click)="markAsRead(notification)" class="notification-item">
          <div class="notification-avatar"><img [src]="this.getStatus(notification)" alt=""></div>
          <div class="notification-details">
            <div [ngClass]="{'notification-title': !user?.alert_ids?.includes(notification.id)}" class="notification-title">{{notification.message}}
              <span *ngIf="!user?.alert_ids?.includes(notification.id) " style="float: right;" class="dot" ></span>
            </div>
            <div class="notification-date">{{notification.dateAlerte | date: 'MMM d, y, h:mm a'}}</div>
          </div>
        </div>
        <div *ngIf="alerts?.length == 0" class="no-notifications">No notifications</div>
        <div class="see-more-notifications"  *ngIf="alerts?.length > 4" style="padding: 5px">
          <button (click)="showAllNotifications()" class="btn btn-outline-info" style="width: 100%;">See More Alerts</button>
        </div>
      </div>
      <audio  #notificationAudio id="notificationAudio">
        <source src="assets/bip.mp3" type="audio/mpeg">
      </audio>
      <div class="notifications-panel" *ngIf="showMessagesPanel">
        <div class="notifications-header">You have {{messages?.length}} messages</div>
        <div class="search-container" style="padding: 5px">
          <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input  type="text" [(ngModel)]="searchText" (input)="filterMessages()" placeholder="Search messages by sender name..." class="search_input">
                <a  class="search_icon"><i class="fas fa-search"></i></a>
              </div> 
            </div>
          </div>
        </div>
        <div>
        </div>
        <div *ngFor="let message of viewAllMessages ? filteredMessages: filteredMessages?.slice(0,4)" class="notification-item">
          <div class="notification-avatar"><img [src]="message.displayImage" alt=""></div>
          <div (click)="markAsMessageRead(message)">
            <div class="notification-details">
              <span  style="font-size: 15px; color: #517fcc; font-family: Georgia, 'Times New Roman', Times, serif;" > 
               <b> {{message?.displayNameSender}} </b>
               </span>
              <div style="font-size: small; max-height: 100px; width: 400px; overflow: hidden; white-space: nowrap ;text-overflow: ellipsis;"  [ngClass]="{'notification-title': !user?.message_ids?.includes(message.id)}">
              {{message.content}} 
                <span *ngIf="!user?.message_ids?.includes(message.id) " style="float: right;" class="dot" ></span>
              </div>
              <div class="notification-date">{{message.dateMessage | date: 'MMM d, y, h:mm a'}}</div>
            </div>
          </div>
          <div (click)="deleteMessage(message.id)" style="padding-left: 15px;float: right;"><i class="fas fa-trash"></i></div>
        </div>
        <div *ngIf="messages?.length == 0" class="no-notifications">No messages</div>
        <div class="see-more-notifications"  *ngIf="messages?.length > 4" style="padding: 5px">
          <button (click)="showAllMessages()" class="btn btn-outline-info" style="width: 100%;">See More Messages</button>
        </div>
      </div>
    </div>




    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" [src]="this.user?.image" style ="width: 36px; height:36px; object-fit:cover; image-rendering: optimizeQuality;">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">{{this.user?.firstName }} {{this.user?.lastName}}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
         <!-- <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>-->
          <div class="dropdown-divider"></div>
          <a style="cursor:pointer" (click)="Logout()" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
