<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"  style="background-image: linear-gradient(87deg, rgb(88 227 201) 0px, rgb(35 48 143) 100%) !important;
background-color: initial !important;">
 
</div>
<!-- Page content -->
<div class="  bg-gradient-danger container-fluid mt--9 pb-5" style="background-image: linear-gradient(87deg, rgb(88 227 201) 0px, rgb(35 48 143) 100%) !important;
background-color: initial !important;">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map" style="height: 600px;"></div>
      </div>
    </div>
  </div>
</div>
